/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*INIZIO HEADER*/
header {
    width: 55%;
    margin: auto;
}

.head {
    width: 100%;
    margin-bottom: 1%;
}

/*INIZIO LOGO*/
.logo {
    width: 350px;
    height: 70px;
    background-size: contain;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
}
/*FINE LOGO*/

/*INIZIO MENU*/
.menu {
    height: 50%;
    width: 100%;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    margin-top: 25px;
    padding-right: 13px;
}

.menu ul li a {
    color: grey;
    font-size: 11.5px;
    text-decoration: none;
    text-transform: uppercase;
}
/*FINE MENU*/

.banner {
    height: 580px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.banner__text {
    position: absolute;
    bottom: 40px;
    left: 60px;
    color: rgb(255, 255, 255);
    font-weight: 1px;
}

/*FINE HEADER*/

/*INIZIO MAIN*/
main {
    width: 55%;
    margin: auto;
}

.row-top {
    width: 100%;
    margin-bottom: 20px;
    height: 60px;
    margin-top: 27px;
}

/*/*inizio colonna sinistra*/
.col-left {
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

.image-col-left {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    background-image: url("../img/img-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/*fine colonna sinistra*/

/*inizio colonna centrale*/
.col-centre {
    width: 44.25%;
    float: left;
    margin-bottom: 20px;
}

.image-centre {
    width: 100%;
    height: 150px;
    background-image: url("../img/banner-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/*fine colonna centrale*/


/*inizio colonna destra*/
.col-right {
    width: 25%;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
}

.image-col-right {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    background-image: url("../img/img-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/*fine colonna destra*/


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/*FINE MAIN*/

/*INIZIO FOOTER*/
footer {
    width: 55%;
    height: 50px;
    margin: auto;
    margin-top: 9px;
    border-bottom: solid black 2px;
    text-align: center;
}
/*FINE FOOTER*/
